.container{
  display: flex;
  gap: 8px;
  justify-content: flex-start;
}

.icon{
  width: 20px;
  height: 20px;
}

.title{
  color: #2D3856;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}