.container{
  background: url("/hotelBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-left: 48px;
  padding-top: 64px;
  padding-bottom: 64px;
  align-items: flex-start;
  gap: 198px;
  justify-content: flex-start;
  width: 100%;
  border-radius: 24px;
}

.header{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.h1{
  width: 680px;
  color: #FFF;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}

.slogan{
  color: #F2F2F2;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}