@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /*--background: #0a0a0a;*/
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*swiper dots*/
.swiper .swiper-wrapper + .swiper-pagination{
  position: relative;
  bottom: -264px;
}

.page-module-scss-module__qnDekq__container .swiper {
  padding-bottom:300px
}

.react-datepicker-ignore-onclickoutside{
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.react-datepicker-ignore-onclickoutside{
  gap: 0 !important;
}

.react-datepicker__input-container{
  width: 142px !important;
}

input{
  width: 142px !important;
}

/*.react-datepicker-popper{*/
/*  z-index: 1000 !important;*/
/*}*/
